body {
  margin: 0;
}
html *
{
   font-family: Montserrat-Light !important;
}
.b-text{
  font-family: Montserrat-Bold !important;
}

p,a,span,li {
  font-size: $font-size-md;
  color: $text-color;
}
a{
  text-decoration: none;
}
img{
  cursor: pointer;
}
.c-container{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .first-container{
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .main-heading{
      font-size: $font-size-lg;
    }
    img{
      max-width: 800px;
      
    }
    :first-child{
    }
}
