$primary: #F93069;
$secondary: #171C3C;
$white: #ffffff;
$black: #000000;
$text-color: #545454;
$blue:#2A8FFF;
$green:#7ED957;
$purple:#6C5984;
$light-purple:#CB6CE6;
$brown: #F8B041;
$border-color:rgba(0, 0, 0, 0.05);
//font families
$font-bold : 'Montserrat-Bold';
$font-light : 'Montserrat-Light';
$font-medium : 'Montserrat-Medium';

//font-sizes
$font-size-x-lg : 40px;
$font-size-lg : 20px;
$font-size-md : 14px;
$font-size-sm : 12px;
$font-size-x-sm : 10px;
