$primary: #F93069;
$secondary: #171C3C;
$white: #ffffff;
$black: #000000;
$text-color: #9e9fa8;

//font families
$font-bold : 'Montserrat-Bold';
$font-light : 'Montserrat-Light';

//font-sizes
$font-size-md : 16px;