$primary: #F93069;
$primary-color: #F93069;
$secondary: #171C3C;
$white: #ffffff;
$black: #000000;
$text-color: #545454;
$blue:#38B6FF;
$green:#7ED957;
//font families
$font-bold : 'Montserrat-Bold';
$font-light : 'Montserrat-Light';
$font-medium : 'Montserrat-Medium';

//font-sizes
$font-size-lg : 28px;
$font-size-md : 15px;
$font-size-sm : 12px;
