@import "../../assets/scss/variables";

.home {
  position: relative;
  top: 0px;
  background: rgb(235, 235, 235);
  background: -moz-linear-gradient(
    0deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebebeb",endColorstr="#ffffff",GradientType=1);
  .mobile-textalign {
    font-family: $font-medium;
    margin-top: 4px;
  }

  .banner-spacing {
    padding-left: calc(114px);
  }

  .first-banner-heading-container {
    display: flex;
    flex-direction: column;
    padding: 124px 0 0 0;
    // justify-content: center;
    // align-items: center;
    // padding: 0px 50px 0px 100px;

    .inner-container {
      max-width: 730px;
      .banner-content {
        font-size: 16px;
        font-family: $font-light;
        margin: 42px 0 68px 0;
      }
      .get-started-btn > span {
        font-family: $font-medium !important;
      }
    }
  }
  .main-heading {
    font-size: 55px;
    margin: 0 0 15px 0;
    font-family: $font-medium;
    color: $secondary;
    .banner-heading-highlight {
      font-family: $font-subtitle;
      font-size: 55px;
      color: $blue;
    }
  }

  .sub-heading {
    margin: 53px 0px;
    font-size: 30px;
    font-family: $font-medium;
    color: $secondary;
  }

  .container-benefit {
    padding: 0 112px;
    margin: 0 0 188px 0;

    h4 {
      font-size: $font-size-lg;
      text-decoration: underline;
      text-underline-position: under;
    }

    &.primary {
      h4 {
        color: $primary;
      }
    }
    .inner-container {
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      margin: 20px 0px 0px 0px;
      .box {
        display: flex;
        width: max-content;
        min-width: calc(281px + 87px);
        flex-direction: row;
        // margin-left: 30px;
        align-items: center;
        &:first-of-type {
          margin-left: 0px;
        }
        h3 {
          font-size: $font-size-md;
          text-decoration: none;
        }
        p {
          font-size: $font-size-sm;
          font-family: $font-light !important;
          font-size: 18px;
          max-width: 297px;
        }
        img {
          width: 88px;
        }
        span {
          padding: 20px 0px 0px 15px;
          flex: 1;
        }
        .b-text {
          color: $primary;
          font-size: 28px;
          font-family: $font-bold;
        }
        .a-text {
          color: #1a1d3d;
          font-size: 23px;
          font-family: $font-bold;
        }
      }
    }
  }

  .container-filters {
    padding: 0 112px;
    margin: 0 0 216px 0;

    h4 {
      font-size: $font-size-lg;
      text-decoration: underline;
      text-underline-position: under;
    }

    &.primary {
      h4 {
        color: $primary;
      }
    }
    .inner-container {
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      margin: 20px 0px 0px 0px;
      .box {
        display: flex;
        width: max-content;
        min-width: calc(281px + 87px);
        flex-direction: row;
        // margin-left: 30px;
        align-items: center;
        &:first-of-type {
          margin-left: 0px;
        }
        h3 {
          font-size: $font-size-md;
          text-decoration: none;
        }
        p {
          font-size: $font-size-sm;
          font-family: $font-light !important;
          font-size: 18px;
          max-width: 297px;
        }
        img {
          width: 88px;
        }
        span {
          padding: 20px 0px 0px 15px;
          flex: 1;
        }
        .b-text {
          color: $primary;
          font-size: 28px;
          font-family: $font-bold;
        }
        .a-text {
          color: #1a1d3d;
          font-size: 23px;
          font-family: $font-bold;
        }
      }
    }
  }

  .cv-container {
    position: relative;
    bottom: -50px;
    .cv-sample {
      max-width: 1000px;
    }
  }
  .small-paragraph p {
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 30px;
    max-width: 525px;
  }
  .bottom-container {
    .text-column {
      display: flex;
      align-items: flex-start;
      // justify-content: center;
      flex-direction: column;
      // padding: 0 3.8em;
    }

    .demo-btn {
      margin-top: 41px;
    }
    .book-a-demo-btn {
      font-family: $font-medium;
      text-decoration: none;
    }
  }
  .bottom-text-section {
    padding: 40px 0 0 62px;
  }
  .bottom-logo {
    max-width: 287px;
    width: 100%;
    margin-bottom: 15px;
  }
}

.small-txt {
  margin-top: 0.6em;
  font-size: $font-size-x-sm !important;
}
.safari-fix {
  align-self: flex-start !important;
  justify-self: flex-start !important;
}

.home-content-container {
  text-align: center;
  margin: 157px 0 0 0;

  .main-heading {
    font-size: 65px;
  }

  h5 {
    font-size: 40px;
    text-transform: uppercase;
  }
}
