.c-button{
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    height: 34px;
    padding: 4px 25px;
    font-size: 15px;
    border-radius: 32px;
    width: max-content;
    border: none;
    background: transparent linear-gradient(90deg, #FF245E 0%, #C864DD 100%) 0% 0% no-repeat padding-box;
    span{
        color:$white;
    }
    &.large {
        width: 200px;
    }
    &:hover{
        background: transparent linear-gradient(90deg, #FF245E 0%, #C864DD 100%) 0% 0% no-repeat padding-box;

    }
    &:focus{
        background: transparent linear-gradient(90deg, #FF245E 0%, #C864DD 100%) 0% 0% no-repeat padding-box;

    }
}