.home{
    position: relative;
    top: -15px;
    .first-banner-heading-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 50px 0px 100px;
            .inner-container{
                max-width: 600px;
            }
    }
    .main-heading{
        font-size: $font-size-x-lg ;
      }
      .sub-heading{
        margin: 25px 0px;
      }
    .ea-container{
        flex-direction: column;
        justify-self: flex-start;
        h4 {
            font-size: $font-size-lg;
            text-decoration: underline;
            text-underline-position: under;
        }
        &.primary{
            h4{
                color:$primary;
            }
        }
        .inner-container{
            flex-direction: row;
            display: flex;
            margin: 20px 0px 0px 0px;
            .box{
                display: flex;
                flex-direction: row;
                margin-left: 30px;
                align-items: center;
                &:first-of-type{
                    margin-left: 0px;
                }
                h3{
                    font-size: $font-size-md;
                    text-decoration: none;
                }
                p{
                    font-size: $font-size-sm;
                }
                img{
                    width: 100px;
                }
                span{
                    padding: 20px 0px 0px 15px;
                }
            }
        }
    }
    .cv-container{
        position: relative;
        bottom: -50px;
    .cv-sample{
            max-width: 1000px;
    }
}
}