.interview-card{
    // background-image: linear-gradient( #6AD259, #00B0FA);
    background: transparent linear-gradient(-135deg, #6AD259 0%, #00B0FA 100%) 0% 0% no-repeat padding-box;
    height: fit-content;
    display: flex;
    color: $white;
    padding: 1em;
    border-radius: 13px;
    width: 650px;

    .card-left{
        
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-family: $font-bold;
            font-size: $font-size-lg;
        }
        .subtitle{
            font-family: $font-bold;
            font-size: $font-size-x-sm;
        }
        .white{
            
            background: $white !important;

            span{
                color: $green;
            }
            &.accept{

                span{
                    color: $green;
                }
                
            }
            &.reject{

                span{
                    color: $primary;
                }
                
            }
        }
        .accepted{

            display: flex;
            align-items: stretch;
            height: 100%;

            img{
                width:40px;
                align-self: flex-start;
            }
            
            

            .left-text{

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0 0 0 0.5em;

            .title{
                font-size: $font-size-lg;
                font-family: $font-bold;
            }
            .subtitle{
                font-size: $font-size-sm;
            }
            .sub-subtitle{
                
                font-size: $font-size-x-sm;

                a {
                    font-size: $font-size-x-sm;
                }
            }
        }

    }
    }

    .card-right{
        flex-basis: 50%;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0.6em 0.6em 0.6em 0;

        .column{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

            img{
                width: 35px;
                height: 35px;
                object-fit: contain;
                margin-bottom: 0.2em;

            }
            .title{
                font-family: $font-bold;
                font-size: $font-size-x-sm;
                margin-bottom: 0.2em;
            }
            .sub-title{
                font-size: $font-size-x-sm;
            }

            
        }
        .c-divider{
            height: 85%;
            border-left: 0.5px solid $white;
            opacity: 0.5;
        }
    }
    
}