@media only screen and (max-width: 1124px) {
  .signup-container {
    &.with-form {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .signup-container {
    &.with-form {
      max-width: 1020px;
      width: 100%;
      border-radius: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 24px 0px !important;
      height: max-content;
      position: relative;
      box-shadow: 0 0 16px #00000026;
      overflow: unset;
    }
    .first-container {
      display: none !important;
    }
    .second-container {
      width: 100%;

      .c-row {
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .c-input {
        width: 260px !important;
      }
    }
    .c-form {
      height: fit-content;
    }
  }
  .react-tel-input {
    max-width: 400px;
    width: 100%;
    .form-control {
      width: calc(100% - 60px);
    }
  }
}

@media only screen and (max-width: 480px) {
  .signup-container {
    background-color: #fff;
    overflow-y: unset;
    &.with-form {
      background-color: #fff;

      max-width: 1020px;
      width: 100%;
      border-radius: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0px !important;
      height: max-content;
      position: relative;
      box-shadow: none;
    }
    .first-container {
      display: none !important;
    }
    .second-container {
      width: 100%;
      padding: 2em 1em !important;
      .responsive-bottom-section {
        max-width: 300px;
        margin: 0 auto;
      }

      .c-row {
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .create-profile-button {
        margin: 20px !important;
      }
      .c-input {
        width: 100% !important;
      }
      &.employer-sign-up {
        display: flex;
        padding: 40px;
        align-items: unset;

        .ant-select {
          width: 100% !important;
        }
        .next-btn {
          margin: 0 auto;
          padding: 5px 46px;
        }
        .create-new-company {
          margin-top: 24px;
          margin-bottom: 48px;
          text-align: center;
          .create-new-btn {
            color: #2a8fff;
            cursor: pointer;
          }
        }
        .second-step {
          padding: 40px 0;
          position: relative;
          display: flex;
          align-items: center;
          .header {
            position: absolute;
            top: 0;
            .back-btn {
              width: 40px;
            }
          }
          .c-input {
            width: 100%;
            .react-tel-input {
              width: 100%;
            }
          }
        }
      }
    }
    .c-form {
      height: fit-content;
      .form-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        button:last-of-type {
          margin-top: 16px;
          margin-left: 0;
        }
      }
    }
  }
  .react-tel-input {
    max-width: 400px;
    width: 100%;
    .form-control {
      width: calc(100% - 60px);
    }
  }
}
