.c-banner-with-images{
    .imgs-row{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        overflow: hidden;
        >div {
                width: 32%;
        }
        img{
            width: 33.333333333%;
        }
    }
}