.c-banner-with-images{
    .imgs-row{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        >div {
                width: 33.3333%;
        }
        img{
         height: 100%;
         width: 100%;
        }
    }
}