.c-banner-with-images{
    .imgs-row{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        overflow: hidden;
        >div {
                width: 33.3333%;
        }
        img{
            width: 32%;
            height: auto;
        }
    }
}