@import "../../assets/scss/variables";
.emp-agncy-main {
  h1 {
    font-family: $font-medium;
    font-size: 30px;
    margin: 0 0 20px 0;
    line-height: 1.5;
  }
  p {
    font-size: 22px;
    max-width: 450px;
    font-family: $font-light;
  }
  padding: 40px 0;
  .c-containers {
    padding: 0 62px;
    .c-row {
      display: flex;
      .auto-grow {
        flex-grow: 1;
      }
      .cell-auto {
        width: 55%;
      }
      .cell-full {
        width: 100%;
      }
      .text-section {
        display: flex;
        justify-content: center;
      }
      .image-section {
        img {
          width: 100%;
        }
      }
      .center {
        justify-content: center;
      }
      .align-left {
        justify-content: flex-start;
      }
      .align-right {
        justify-content: flex-end;
      }
    }
  }
  .emp-heading {
    font-size: 30px;
    line-height: 50px;
  }
  .blue {
    color: $blue;
  }
  .job-n-demo {
    display: flex;
    justify-content: center;
  }
  .sections {
    padding-top: 200px;
    // h1 {
    //   font-size: $font-size-30;
    //   margin: 0 0 28px 0;
    // }
    // p {
    //   font-size: $font-size-lg;
    //   max-width: 460px;
    // }
  }
}
