.signup-container{
    .first-container {
        img {
            &.signup-icon{
                width: 70px;
            }
            &.logo{
                width: 200px;
            }
        width: 100px;
        }
    }
    &.no-shadow{
        box-shadow: none;
    }
 
    &.with-form{
        width: 1020px;
        border-radius: 20px ;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding:0px !important;
        height: 650px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 16px #00000026;

    .first-container{
        width: 280px;
        background: transparent url("../../assets/images/auth/signup-back.png") 0% 0% no-repeat padding-box;
        background-position: top;
        background-repeat: no-repeat;   
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.role-container{
            width: 200px;
            height: 100%;
            
        }

        &.bg-2{

            background: transparent url("../../assets/images/auth/signup-ban-2.jpg") 0% 0% no-repeat padding-box;
            background-size: 100% 100%;

        }

        &.role-select {

            background: transparent url("../../assets/images/auth/sign-up-main-back.png") 0% 0% no-repeat padding-box;
            background-size: 100% 100%;
            padding: 40px 15px;
            justify-content: flex-start;
        }

        img{
            width: 230px;
        }

        h3{
            // text-decoration: underline;
            // text-underline-position: under;
            

            span {
            font-size: $font-size-md;
            color: $white;
            font-family: $font-bold !important;
            border-bottom: 3px solid $white;
            padding-bottom: 6px;
            }
        }
        .inner-container{
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
            padding: 50px 25px 0px 25px;
        .box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin: 5px 0px 0px 0px;
            &:first-of-type{
                margin-top: 15px;
            }
            h3{
                font-size: $font-size-md;
                text-decoration: none;
                color: $white;
            }
            p{
                font-size: $font-size-sm;
                color: $white;
            }
            img{
                width: 50px;
            }
            span{
                padding: 0px 0px 0px 8px;
            }
        }
    }
    }
    .second-container{
        width: 740px;
        padding: 50px 50px 50px 50px;
        max-width: inherit;
        .c-button{
            align-self: flex-end;
        }
    }

    &.role-container{
        width: 800px;
        height: 550px;

        .second-container{
            
            height: 500px;
            justify-content: space-between;
            
        }
    }
}
}



.confirm-email-card{
    align-self: center;
    height: 400px;
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .inner-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 520px;
        height: 280px;
        .mail-icon{
            width: 60px;
        }
        button {
            text-decoration: underline;
        }
    }
}