@import "../../assets/scss/variables";

.pricing-container {
  padding: 30px 10px 30px 50px;

  .heading-section {
    padding: 60px 0;

    & p {
      color: $text-color;
      font-size: $font-size-x-lg;
      font-family: $font-medium;
    }
  }

  .pricing-main {
    margin: auto;
    display: flex;
    color: $text-color;
    font-size: $font-size-md;

    & .color-blue {
      color: $blue;
      font-size: $font-size-lg;
    }

    & .pricing-section {
      height: 70vh;

      width: 60%;
      height: 100%;

      & .pricing-row {
        display: flex;
        height: 100%;

        & .pricing-card {
          width: 100%;
          border-left: 1px solid $border-color;
          min-height: 500px;
          height: 100%;

          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: 1px solid $border-color;
          }

          & .pricing-header {
            width: 100%;

            & .top-items-head {
              height: 50px;
              text-align: center;
              width: 100%;
            }
          }

          & .pricing-items {
            & .pricings {
              text-align: center;
              min-height: 45px;
              vertical-align: middle;

              & .check-icon {
                color: $green;
                font-size: 25px;
              }
            }

            & .pricing-typs {
              min-height: 45px;
              vertical-align: middle;
            }
          }
        }
      }
    }

    & .align-center {
      display: grid;
      place-items: center;
    }

    & .pricing-image {
      width: 40%;
      padding: 0 20px;

      & .image-section {
        display: flex;
        justify-content: center;
        & img {
          width: 100%;
          max-width: 360px;
          min-width: 290px;
          max-height: 500px;
          object-fit: cover;
          border-radius: 15px;
        }
      }
    }
  }

  .pricing-details {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 60px;

    .video-section {
      width: 50%;

      img {
        width: 100%;
      }
    }
    .buy-premuim {
      width: 50%;

      .desc {
        font-size: $font-size-x-lg;
        max-width: 650px;
        line-height: 60px;
        margin: 0 0 30px;

        span {
          color: $blue;
          font-size: $font-size-x-lg;
        }
      }
      .premium-heading {
        font-size: $font-size-lg;
      }
      .points {
        margin: 0;
        margin-bottom: 2px;
        font-size: $font-size-sm;
      }
      .btn-sec {
        display: flex;
        align-items: center;
        margin: 20px 0 0 0;

        p {
          font-size: $font-size-sm;
          margin: 0 0 0 10px;
        }
      }
      .direct-message {
        font-size: $font-size-x-sm;
      }
    }
  }
  .interview {
    display: flex;
    align-items: center;
    padding-top: 60px;

    .interview-details {
      width: 30%;

      .coming-soon {
        font-size: $font-size-x-lg;
        color: $blue;
        text-transform: uppercase;
      }
      .make-interview {
        font-size: $font-size-lg;
      }
    }

    .interview-image {
      width: 70%;

      img {
        width: 100%;
        max-width: 800px;
      }
    }
    p {
      max-width: 500px;
    }
    .points {
      display: flex;
      align-items: center;
      margin: 15px 0;

      .checks {
        width: 27px;
        height: 27px;
        border-radius: 89px;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px;
        min-width: 27px;
        min-height: 27px;
      }
      p {
        margin: 0 0 0 10px;
        max-width: unset;
      }
    }
  }
}
